@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@keyframes ken-burns {
  0% {
    transform: scale(1) translate(0, 0);
  }

  50% {
    transform: scale(1.1) translate(-1%, -1%);
  }

  100% {
    transform: scale(1) translate(0, 0);
  }
}

.animate-ken-burns {
  animation: ken-burns 20s ease-in-out infinite alternate;
}